.button {
  background-color: #fff;
  font: normal normal normal 16px/26px "Interstate Reg";
  font-size: 1 rem;
  color: #1d1d1d;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  &:hover {
    color: #ff6b6b;
    .arrow-down {
      color: #ff6b6b;
    }
    .arrow-up {
      color: #ff6b6b;
    }
  }
}

.arrow-up {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 8px;
  width: 8px;
  transform: rotate(-135deg);
  margin-left: 10px;
  margin-top: 11px;
  color: #1d1d1d;
}

.arrow-down {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  margin-left: 10px;
  margin-top: 6px;
  color: #1d1d1d;
}

.login__button {
  font: normal normal 300 10px/22px "Interstate Reg";
  color: #1d1d1d;
  text-transform: uppercase;
  border: 1px solid #1d1d1d;
}

.landing__button {
  font: normal normal normal 16px/26px "Interstate Lt";
  letter-spacing: 0px;
  color: #1d1d1d;
  text-transform: uppercase;
  background-color: #a2de96;
  &:hover {
    color: #1d1d1d;
    background-color: #88c97b;
  }
}
