.header {
  margin: auto 5rem;
  height: calc(100vh - 5rem);
  position: relative;
  display: flex;

  &__background {
    width: 65%;
    height: calc(100vh - 5rem);
    background: #f1f7ea;
    position: absolute;
    right: -5rem;
    top: 0;
    z-index: -10;

    &-container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    h1 {
      font: normal normal 800 70px/80px "Gilroy-ExtraBold";
      color: #1d1d1d;
      margin: 0;
      margin-bottom: 1rem;
    }
    p {
      font: normal normal 300 50px/60px "Gilroy-Light";
      color: #131505;
      margin: 0;

      margin-bottom: 2.5rem;
    }
  }
  &__img {
    width: 50%;
    margin-top: 50%;
  }
}
