@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("//cloud.typenetwork.com/projects/4650/fontface.css/");

.interstatelight {
  font-family: "Interstate Lt";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.interstateregular {
  font-family: "Interstate Reg";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.interstatexlight {
  font-family: "Interstate XLight";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
