@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("//cloud.typenetwork.com/projects/4650/fontface.css/");

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./fonts/Gilroy-ExtraBold.woff2");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy-Light.woff2");
}

.interstatelight {
  font-family: "Interstate Lt";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.interstateregular {
  font-family: "Interstate Reg";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.interstatexlight {
  font-family: "Interstate XLight";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
